
@import url( 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body{
    display: flex;
    flex-direction: column;
align-items: center;
background: #eee;
font-family: 'Inter';
z-index: 900;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.excel-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 5px solid #e9700d;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    background-color: white;
    margin-bottom: 40px;
}
.table-body{
    display: flex;
    align-items: center;
}
table{
    border-radius: 20px;
    background-color: white;
}
table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    border: 0.1px solid black;
}
th {
    font-weight: bold;
    border: 5px solid #e9700d;
}
td {
    font-weight: lighter;
    border: 5px solid #e9700d;
}
td input{
    text-align: center;
}
.experience{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    margin-top: -40px;
}
.experience-each{
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 5px solid #e9700d;
    padding: 20px;
    border-radius: 15px;
    width: 470px;
    align-items: center;
    justify-items: center;
    gap: 10px;

}
.experience-each input{
    text-align: center;
    height: 40px;
    font-size: 14px;
    width: 100px;
}
.header{
    height: 150px;
    padding: 20px;
    width: 100%;
    background: #e9700d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 100px;
}
.header img{
    object-fit: contain;
    height: 150px;
    padding: 20px;
}
.header h1{
    font-size: 42px;
}
.popup .overlay {
    position: fixed;
    top: 0px; 
    left: 0px;

    width: 100vw; 
    height: 100vh;
    background: rgba(0,0, 0, 0.7); 
    z-index:600;
display: none;
    }
.popup .content {
    display: none;
    positIon: fixed;
    top: 50%;
    left: 50%;
    scale: 0;
    transform: translate(-50%, -50%);
    background:#fff;
    max-width:90%;
    width: auto;
    height: auto;
    max-height: 90%;
    z-index:650;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 40px;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color:#fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px; 
    text-align: center; 
    border-radius: 50%;
}
.popup.active .overlay { 
    display:block;
}
.popup.active .content {
    display: block;
transition:all 300ms ease-in-out;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
scale: 1;
overflow: scroll;

}
.popup.active .content::-webkit-scrollbar{
display: none;
}
.details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.details span{
font-weight: bold;
font-size: 24px;
}   